<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMessageServicer" />
                <binding name="BasicHttpBinding_ITestSOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcfQueueTest/MessageServicer/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageServicer"
                contract="ServiceReference1.IMessageServicer" name="BasicHttpBinding_IMessageServicer" />
            <endpoint address="http://fdcis-web-qa.flaext.pub/vdowebservice/wcfQueueTest.TestIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestSOAP"
                contract="ServiceReference2.ITestSOAP" name="BasicHttpBinding_ITestSOAP" />
        </client>
    </system.serviceModel>
</configuration>